*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 100%;
  height: 100vh;
}

header{
  text-shadow: 2px 2px #ff3a3a;
  background-color: #ff5a5a;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
  background-color: #1f1f1f;
}

li{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px black;
}

ul p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff5a5a;
  text-align: center;
  text-shadow: 2px 2px black;
}


